@import url('https://fonts.googleapis.com/css2?family=Rewon:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&display=swap');

html,
body {
  font-family: 'Geist', 'Rewon', sans-serif;
  margin: 0;
  background-color: #F9F3EC;
}
